html{
    text-align: center;
    font-family: cursive;
    background-image: url("./download.gif");
}
.up_clicker{
    color: green;
    font-size: -webkit-xxx-large;
}
.down_clicker{
    color: red;
    font-size: -webkit-xxx-large;
}
.result{
    font-size: -webkit-xxx-large;  
}
footer{
    padding-top: 300px;
}
.counter{
    margin-top: 167px;
}